body{
	background: #CCCCCC 
}

header, footer{
	background-color: #B533E8
}

main{
	background-color: #E84D33
}

h1{
	text-align: center;
}

h3{
	font-size: 20px;
	color: black;
	padding-left: 40px;
}

#paragrafodiferente{
	font-size: 50px;
	color: yellow;
}
p{
	color: blue;
	font-size: 15px;
	margin-right: 20%;
	padding: 60px;
}

#cafe{
	display: block;
	margin: 0px auto;
	height: 200px;
	border: 2px solid;
	padding: 10px
}